@blue : #51A7F9;

html, body, .main {
    background: white;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0px;
    padding: 0px;
    overflow : hidden;
}

.hello-world {
    width : 100px;
    height : 100px;
}

.file {
    fill : @blue;
    position: relative;

    &-description {
        fill : @blue;
        height : 350px;
        width : 350px;
        /*position: absolute;*/
    }
}

.cloud {
    position : absolute;
    width : 100%;
    bottom : 70px;
    left : 0px;
    right : 0px;
    text-align : center;
    /*fill : @blue;*/
    &-service {
        width : 150px;
        height : 150px;
        margin : 0px 20px;
    }
}

.signal {
    position: absolute;
    top: 30px;
    left: 30px;

    &-cellular {
       fill : @blue;
        width: 200px;
        height: 200px;
    }
}

.elqui {
    position : absolute;
    width : 100%;
    bottom : 70px;
    left : 0px;
    right : 0px;
    text-align : center;
    &-icon {
        width : 150px;
        height : 150px;
    }
}

.menu {
    position: absolute;
    top: 20px;
    right: 20px;
    /*fill : white;*/

    &-item {
        /*fill : black;*/
    }
}
@import "synchronization.less";
